﻿@model ProfileAndPosts

@{
    ViewData["Title"] = "UserProfile";
}

<script>
    function imageError() {
        let oldImage = event.target.src;
        let img = event.target;
        console.log('Error!');
        img.src = '/giphy.gif';

        setTimeout(function () {
            img.src = oldImage;
        }, 1000);
    }
</script>

<h1>@Model.Profile.Name</h1>

<img src="@(Model.Profile.Photo ?? "http://abs2018.lbsafricaclub.org/wp-content/uploads/2016/03/profile-placeholder-300x300.png")" alt="@Model.Profile.Name" width="200" height="200" />

<br />  
<a asp-controller="Post" asp-action="Add" class="btn btn-primary">Add post...</a>

<div class="row">
    @foreach (var item in Model.Posts)
    {
        <div class="col-12 col-md-3">
            <div class="card">
                <img onerror="imageError()" src="https://instagramdata.blob.core.windows.net/previews/@item.Photo" class="card-img-top" alt="@item.Title" height="250" style="object-fit: cover">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Text</p>
                    <a asp-action="Details" asp-controller="Post" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>
